<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>Kevin Bentley: Computer Science Topics</title>
        <link href="css/styles.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <header>
          <h1>Computer Science Topics</h1>
        </header>
        <hr/>
        
        <nav>
          <a href="/" class="menuselected">Home</a>
          <a href="/gis">Geographic Information Systems</a>          
          <a href="/embedded">Embedded Systems</a>          
          <a href="/ci">Continuous Integration</a>
          
        </nav>
        <hr/>
        <div>
          <br/>
          <h2>
          Click on one of the above links to learn more about these topics.
          </h2>
        </div>
<main>

  
