<!DOCTYPE html>
<html lang="en">

    <head>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <meta charset="utf-8" />
        <title>Kevin Bentley: Computer Science Topics</title>
        <link href="css/styles.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <header>
          <h1>Computer Science Topics</h1>
        </header>
        <hr/>
        
        <nav>
          <a href="/" ><span id="navHome">Home</span></a>
          <a href="/gis"><span id="navGIS">Geographic Information Systems</span></a>
          <a href="/embedded"><span id="navEmbedded">Embedded Systems</span></a>
          <a href="/ci"><span id="navCI">Continuous Integration</span></a>
          
        </nav>
        <hr/>
        <div>
          <br/>
          <h2>
          Click on one of the above links to learn more about these topics.
          </h2>
        </div>
<main>

  
