<% include partials/header.ejs %>

  <!-- https://blog.meuleman.io/en/continuous-integration-for-embedded-firmware -->

    <div class="topicdetail">
        <h2>Continuous Integration</h2>
        <div class="floatedright">
        <figure>
            <img src="img/ci-devops.jpg" class="imgborder" alt="A Continuous Integration Flowchart"/><br/>
            <figcaption>A Continuous Integration System for devops.</figcaption>
        </figure>
        </div>
    <div class="nofloat" >
        <p> 
Developing complex software can require coordination between a lot of people and processes. Automated testing can save a lot of time. Continuous Integration is used to reduce the time between software development and testing. The sooner issues are identified, the sooner they can be fixed. If bugs are fixed more quickly, they will be less likely to interrupt the work of others.
</p>

<p>
Continuous Integration can include many processes, including:
</p>
<ul>
  <li>Automatic Software Builds</li>
  <li>Static Analysis</li>
  <li>Unit Testing</li>
  <li>Acceptance Testing</li>
  <li>Automated Notification of test failures</li>
</ul>
<p>
A typical automated CI system might check out the latest code whenever a change is made. Once the latest software is retrieved, it will be analyzed, compiled, and tested. If any errors are identified, the programmer is notified. Depending on the system, the code that caused the error will be rejected until the developer fixes the problem.
</p>
<p>Continuous Integration systems can improve the quality of software, and help teams work together more productively. Such a system can take some work to setup initially, but for many projects, it can be worth the effort.


        Some of the information on this page came from the following site, where you can find additional information: <a href="https://insights.sei.cmu.edu/devops/2015/01/continuous-integration-in-devops-1.html">https://insights.sei.cmu.edu/devops/2015/01/continuous-integration-in-devops-1.html</a>
    </div>
    </div>
    <% include partials/footer.ejs %>