<% include partials/header.ejs %>
  <!-- https://www.usgs.gov/media/images/pad-us-map-viewerdenver -->

<!-- https://mccordeng.com/service/Geographic-services/ -->

<!-- https://insights.sei.cmu.edu/devops/2015/01/continuous-integration-in-devops-1.html -->
<div class="topiccontent"></div>
<div class="topicdetail">
    <div class="floatedright">
      <figure>
        <img src="img/gis-hydro.png" class="imgborder" alt="Shoreline Map"/><br/>
        <figcaption>A GIS map of shoreline properties in Maryland.</figcaption>
      </figure>
    </div>
<div class="nofloat">
  <h3>Geographic Information Systems</h3>
<p>By <a href="mailto:<%= fakeEmail %>"><%= fakeName %></a></p>
<p>
Geographic Information Systems, commonly known as GIS, refer to the systems and skills involved in the aquisition, analysis, processing, and display of geographic information. This information may include road maps, soil quality information, the shape of the terrain, or any other information with a geographic element.
</p>

<p>
It's easy to think of GIS systems as maps, but they are really more than that. GIS is used in many scientific applications. Researchers use GIS to map wildlife migration, agricultural planning, disease outbreaks, geological research, and more. With GIS, a scientist can discover patterns and identify relationships where the location is a common factor.
</p>

<p>
GIS systems frequently use software libraries to develop applications. Commercial software such as ArcGIS from ESRI are the most common, but many open source application libraries are widely used. Most users of GIS software are probably not programmers, but some level of programming is frequently needed. Programmers and developers of GIS systems need a lot of domain specific knowledge and skills, including complex map projections and the associated math. GIS degree programs are offered by many universities.
</p>

<div class="nofloat">
    <figure>
        <a href="https://xkcd.com/2170/">
        <img src="img/coordinate_precision.png" class="imgborder" alt="Geographic coordinate precision table"/><br/>
        </a>
        <figcaption>Above image from: https://xkcd.com/2170/</figcaption>        
        
    </figure>
  </div>
      <p>
          Some of the information on this page came from the following site, where you can find additional information: <a href="https://mgimond.github.io/Spatial/introGIS.html">https://mgimond.github.io/Spatial/introGIS.html</a>
      </p>
  </div>
</div>
</div>
<% include partials/footer.ejs %>