<% include partials/header.ejs %>
  <div class="topiccontent">
    <div class="topicmedia">
    <a href="/gis">
        <img src="img/geospatial1.jpg" alt="Geospatial layers"/>
    </a>
    
    </div>
    <div class="topicsummary">
    <h3>Geographic Information Systems</h3>
    Geographic Information Systems (GIS) are used to store and analyze all types of data with a geographic location as an attribute. GIS systems power everything from Google Maps to the legal description of property lines.
    </div>
  </div>
    <hr/>
  <div class="topiccontent">
    <div class="topicmedia">
    <a href="/embedded">
        <img src="img/embedded.jpg" alt="An embedded system circuit board"/>
    </a>
    </div>
    <div class="topicsummary">
    <h3>Embedded Systems</h3>
    Embedded Systems are complex computers that power our cars, traffic lights, microwave ovens, televisions, and more. Embedded Systems take many forms, but they are all computers.
    </div>
  </div>
  <hr/>
  <div class="topiccontent">
    <div class="topicmedia">
    <a href="/ci">
        <img src="img/ci.png" alt="A Continuous Integration Flowchart"/>
    </a>
    </div>
    <div class="topicsummary">
    <h3>Continuous Integration</h3>
    Continuous Integration is a development methodology that aims to keep all of the developers working in the same code base on a continous basis. Automated systems are usually employed to build and perform tests on software, and alert the team when something goes wrong.
    </div>
  </div>
  
  <script type="text/javascript">
    $('#navHome').addClass('menuselected');
    </script>
    
  <% include partials/footer.ejs %>